body {
    font-family: 'Arial', sans-serif;
    background: #F4A900; /* Everience Yellow */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}

.header {
    margin-bottom: 20px;
    color: #DC0256; /* Everience Pink */
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

df-messenger {
    --df-messenger-bot-message: #0096D6; /* Everience Blue */
    --df-messenger-user-message: #DC0256; /* Everience Pink */
    --df-messenger-chat-background: #ffffff;
    --df-messenger-button-titlebar-color: #0096D6;
    --df-messenger-send-icon: #ffffff;
    --df-messenger-chat-icon: url('images/Evi_AI_Assistant_Transparent.png');
    --df-messenger-chat-icon-size: 70px;
    --df-messenger-font-family: 'Arial', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Remove border around chat text box */
df-messenger-chat {
    border: none !important;
    box-shadow: none !important;
}
