body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    text-align: center;
}

.header {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

df-messenger {
    --df-messenger-bot-message: #667eea;
    --df-messenger-user-message: #0096D6; /* Changed user message color to blue */
    --df-messenger-chat-background: #ffffff;
    --df-messenger-button-titlebar-color: #667eea;
    --df-messenger-send-icon: #ffffff;
}

/* Make message bubbles adjust dynamically to message size */
df-messenger::part(message) {
    max-width: fit-content !important;
    padding: 10px 15px !important;
    border-radius: 15px !important;
}
